{%- if site.show_banner -%}
        <!-- featured block -->
        <ins class="row featured-block">
          <div class="col-12">
            <div class="featured-wrapper d-block d-md-flex align-items-center">
{%- comment -%}
              <!--
              <p>qurano.com - &quot;Qur'an Terjemah 3 Bahasa&quot; developed by apaCara.com</p> <a class="btn btn-sm btn-gradient ml-auto mt-4 mt-md-0" href="https://www.bootstrapdash.com/product/star-admin-pro/" target="_blank">qurano.com</a>
              <a class="btn btn-sm btn-transparent d-none d-md-block" href="https://github.com/BootstrapDash/StarAdmin-Free-Bootstrap-Admin-Template" target="_blank">Sholat.org</a>
              <i class="fa fa-close x-dismiss"></i>
              -->
{%- endcomment -%}

            </div>
          </div>
        </ins>
{%- endif -%}