<header class="navbar-wrapper">
  <div class="container">
      <nav class="navbar default-layout col-lg-12 col-12 p-0 d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
          <a class="navbar-brand brand-logo" href="{{ site.url }}">
            apaCara<small class="text-muted">.com</small>
          </a>
          <a class="navbar-brand brand-logo-mini" href="{{ site.url }}">
            apaCara<small class="text-muted">.com</small>
          </a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center">
          <ul class="navbar-nav navbar-nav-left header-links d-none d-xl-flex">
            <li class="nav-item active">
              <a href="/category/html" class="nav-link">HTML
              </a>
            </li>
            <li class="nav-item">
              <a href="/category/css" class="nav-link">
                CSS</a>
            </li>
            <li class="nav-item">
              <a href="/category/bootstrap" class="nav-link">
                BOOTSTRAP</a>
            </li>
          </ul>
          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item dropdown">
              <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
                <i class="fa fa-folder-o"></i>MENU
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="notificationDropdown">
                {% for label in site.data.category %}
                {%- unless label.hidden == true -%}
                <a href="/category/{{ label.slug }}" class="dropdown-item mt-2">
                  {{ label.title }}
                </a>
                {%- endunless -%}
                {%- endfor -%}
              </div>
            </li>
            <li class="nav-item dropdown d-none d-md-inline-block">
              <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                <span class="profile-text btn btn-outline-light btn-rounded btn-fw">HTML Editor</span>
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                <a href="https://htmleditor.apacara.com/" class="dropdown-item mt-2">
                  HTML Editor
                </a>
                <a href="https://htmleditor.apacara.com/mobile" class="dropdown-item">
                  Mobile Editor
                </a>
              </div>
            </li>
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center ml-auto" type="button" data-toggle="offcanvas">
            <span class="fa fa-navicon"></span>
          </button>
        </div>
      </nav>
  </div>
</header>