{%- capture page_image -%}
  {%- if page.images.figure -%}
    {{ page.images.figure | prepend: site.images_path.images | absolute_url }}
  {%- endif -%}
{%- endcapture -%}
<main class="container content-wrapper">
    <div class="content" id="content">
      <div class="post-wrapper">

      {%- include banner.html -%}

        <!-- post content -->
        <article class="post post-category">
          {%- if page_image.size > 0 -%}
          <figure class="img-responsive mb-4">
            <img class="img-fluid" src="{{ page_image }}" width="750" height="400" alt="{{ page.title }}" />
          </figure>
          {%- endif -%}
          <h1 class="title mb-4">{{ page.title }}</h1>
          <div class="post-meta mb-2 pb-3 mt-4 text-muted text-xs a-title">
              <a href="/category/{{ page.tag.first }}" class="px-2 py-1 text-dark font-weight-normal">
                  <i class="fa fa-folder pr-2"></i>{{ page.tag.first | upcase }}
              </a>
              <i class="px-2 fa fa-circle-thin text-light"></i>
              {%- assign post_author = site.data.people[page.author] -%}
              <span>
                  <a class="text-muted" href="{{ post_author.url }}" rel="nofollow" target="_blank">
                  <i class="fa fa-user pr-2"></i>{{ post_author.name | default: site.author.name }}</a>
              </span>
              <i class="px-2 fa fa-circle-thin text-light"></i>
              <span class="px-2 py-1">
                  <i class="fa fa-calendar pr-2 text-muted"></i>
                  {%- if page.dateModified -%}
                    {{ page.dateModified | date: "%B %-d, %Y" }}
                  {%- else -%}
                    {{ page.date | date: "%B %-d, %Y"}}
                  {%- endif -%}
              </span>
          </div>

          {%- include ads/top.html -%}

{{ content }}

        </article>

        {%- include ads/center.html -%}

        {%- include share.html -%}

        {%- include related_posts.html -%}

        {%- include pagination.html %}

      </div>
    </div>

    {% include aside.html %}
  </main>