<section id="related-posts">
  <h5 class="bg-light w-100 d-block py-3 px-3 my-2 mt-5 rounded text-md">
      <i class="fa fa-heart pr-2"></i>YOU MAY ALSO LIKE
  </h5>
  <div class="d-md-flex">
    <div class="related-posts-wrapper mb-3 mt-2  mr-md-3 mr-auto w-100">
      <ul class="related-posts list-unstyled text-lg">
{%- assign p_collection = page.collection -%}
{%- if p_collection -%}
  {%- assign page_collection = site[p_collection]  -%}
  {%- for item in page_collection limit:6  -%}
    {%- if item.title == page.title -%}
      {%- continue -%}
    {%- endif -%}
    {% assign item_author = site.data.people[item.author] %}
          <li class="border-bottom">
            <a href="{{ item.url | absolute_url }}" class="d-block mb-2 text-facebook">{{ item.title }}</a>
            <div class="row text-black-50 d-md-flex d-none text-sm pb-2">
              <div class="col-4 d-flex">
                <small class="mb-0 mr-2 text-muted" aria-label="date"><i class="fa fa-user" aria-hidden="true"></i></small>
                <small class="mr-2 mb-0 text-muted">{{ item_author.name }}</small>
              </div>
            </div>
          </li>
  {%- endfor -%}
{%- endif -%}
      </ul>
    </div>

    {%- include ads/bottom.html -%}
  </div>
</section>