---

---
<!DOCTYPE html>
<html lang="{{ page.language | default: 'id' }}">
{% include head.html %}
<body>
{%- comment -%}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{site.google_analytics}}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{site.google_analytics}}');
</script>
{%- endcomment -%}
{% include header.html %}
{{ content }}
{% include footer.html %}
</body>
</html>
