<div class="sl-wrapper my-3">
  <div class="d-none d-md-block mb-3">
      <img src="/dist/img/336x280.png" width="336" height="280" alt="" />
  </div>
  <div class="d-block d-md-none mb-3 ">
{%- comment -%}
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script><ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-3288866780282962" data-ad-slot="6856596788"></ins><script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
{%- endcomment -%}
  </div>
</div>